$fuente_principal: "Montserrat", sans-serif;

// Colores
$negro: #000000;
$rosa: #f53756;    // Color principal
$amarillo: #ffd700; // Amarillo dorado que combina mejor
$morado: #8a2be2;  // Morado más suave que complementa el rosa y el azul
$blanco: #ffffff;
$azul: #256db0;    // Color principal
$comodin: #ff69b4; // Rosa más claro como color de acento

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
